html {
  font-size: 19px; /* dictates rem size */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

*::selection {
  color: var(--clr-white);
  background-color: var(--clr-mono-300);
}
