:root {
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-mono-50: hsl(0, 0%, 5%);
  --clr-mono-80: hsl(0, 0%, 8%);
  --clr-mono-100: hsl(0, 0%, 10%);
  --clr-mono-200: hsl(0, 0%, 20%);
  --clr-mono-300: hsl(0, 0%, 30%);
  --clr-mono-460: hsl(0, 0%, 46%);
  --clr-mono-500: hsl(0, 0%, 50%);
  --clr-mono-600: hsl(0, 0%, 60%);
  --clr-mono-700: hsl(0, 0%, 70%);
  --clr-mono-800: hsl(0, 0%, 80%);
  --clr-mono-900: hsl(0, 0%, 90%);
  --clr-mono-920: hsl(0, 0%, 92%);
  --clr-mono-950: hsl(0, 0%, 95%);
  --clr-mono-970: hsl(0, 0%, 97%);

  --clr-accent: hsl(355, 68%, 60%);
  /* HEX: #de545f */
  --clr-accent-light: hsl(355, 80%, 80%);
  --clr-accent-old: hsl(345, 80%, 60%);

  --clr-green: hsl(112, 100%, 41%);
  --clr-red: hsl(0, 83%, 55%);

  --clr-transparent: hsla(0, 0, 0, 0);

  --clr-placeholder: var(--clr-mono-900);

  --ff-primary: "Inter", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-thin: 100;
  --fw-light: 320;
  --fw-regular: 360;
  --fw-semi-regular: 470;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-50: 0.6rem;
  --fs-100: 0.8rem;
  --fs-150: 0.9rem;
  --fs-200: 1rem;
  --fs-220: 1.2rem;
  --fs-250: 1.4rem;
  --fs-300: 1.8rem;
  --fs-400: 2.3rem;
  --fs-500: 3rem;
  --fs-600: 5rem;

  --max-width-50: 900px;
  --max-width-100: 1000px;
  --max-width-200: 1200px;
  --max-width-300: 1400px;

  --border-rad-100: 10px;
  --border-rad-200: 20px;
  --border-rad-300: 30px;
  --border-rad-1000: 100px;
}