.locked-project {
  max-width: var(--max-width-200);
  width: calc(200px + 20vw);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locked-project .image {
  margin: 0 0 0.5vw 0;
  border-radius: var(--border-rad-200); 
}

.locked-project .partner {
  margin: 5% 0 2% 0;
  font-size: var(--fs-400);
  text-transform: uppercase;
  text-align: center;
}

.locked-project .description {
  color: var(--clr-mono-300);
  font-size: var(--fs-100);
  text-transform: uppercase;
  text-align: center;
}

.locked-project input {
  display: block;
  margin: 50px auto 0px auto;
  background: none;
  width: 200px;
  height: 50px;
  font-size: var(--fs-250);
  font-weight: var(--fw-light);
  color: var(--clr-accent);
  text-align: center;
  border-radius: var(--border-rad-300);
  border: solid 2px var(--clr-accent);
  padding-bottom: 2px;
}

.locked-project input:focus {
  outline: none !important;
  padding-bottom: 0px;
}

.locked-project input::placeholder {
  opacity: 1;
}

.locked-project input:focus::placeholder {
  opacity: 0;
}


@media only screen and (max-width: 900px) {

  .locked-project {
    width: 60%;
  }

  .locked-project .image {
    padding: 0;
    margin: 0 0 10px 0;
  }

  .locked-project .partner {
    font-size: var(--fs-220);
    font-weight: var(--fw-medium);
  }

}