
/* DISABLED: week schedule */
.widget-bar .av-contact:nth-child(2) {
  display: none;
}
/*------------------------*/


.widget-bar {
  overflow: hidden;
  position: absolute;
  top: 30px;
  right: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 6px;
}

.widget-bar #availability {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 6px;
  pointer-events: none;
}

.language-widget {
  cursor: pointer;
  overflow: hidden;
  width: fit-content;
  font-size: 12px;
  border-radius: 100px;
  background-color: var(--clr-mono-920);
  padding: 9px 15px;
}

.widget-bar .av-checker,
.widget-bar .av-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width:fit-content;
  gap: 10px;
  font-size: 12px;
  border-radius: 100px;
  background: var(--clr-mono-920);
}

.widget-bar .av-checker {
  padding: 9px 15px;
  margin-bottom: 10px;
  pointer-events: all;
}

.widget-bar .av-contact {
  padding: 5px 15px;
  cursor: text;
  pointer-events: none;
  opacity: 0; /* Initial state */
  transition: 0.5s opacity 4s; /* When hover is removed, for 4 seconds it stays on */
}

.widget-bar:hover #availability {
  pointer-events: all; /* Makes sure everything is clickable and affected when hovered, when av-checker is hovered */
}

/* On hover, show the child */
.widget-bar #availability:hover .av-contact:nth-child(2) {
  transition: 0.7s opacity 0s;
  opacity: 1;
  pointer-events: all;
}

/* On hover, show the child */
.widget-bar #availability:hover .av-contact:nth-child(3) {
  transition: 0.7s opacity 0.1s;
  opacity: 1;
  pointer-events: all;
}

/* On hover, show the child */
.widget-bar #availability:hover .av-contact:nth-child(4) {
  transition: 0.7s opacity 0.2s;
  opacity: 1;
  pointer-events: all;
}

/* When hover stops, trigger the animation */
.sidewidget #availability:not(:hover) .av-contact {
  opacity: 0;
  pointer-events: none;
}

#availability #status-color {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

.av-checker p,
.av-contact p {
  font-weight: var(--fw-regular);
  color: var(--clr-black);
  letter-spacing: 0.1px;
}

.av-checker p {
  user-select: none;
}

.available #status-color {background-color: var(--clr-green);}
.unavailable #status-color {background-color: var(--clr-red);}

.av-contact p::selection {
  color: var(--clr-black);
  background-color: var(--clr-mono-800);
}

@media only screen and (max-width: 1600px) {

  .widget-bar {
    right: 45px;
  }

  .widget-bar #availability {
    flex-direction: row-reverse;
  }

  .widget-bar .av-contact {
    padding: 9px 15px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 680px) {

  .widget-bar {
    visibility: hidden;
    pointer-events: none;
  }
}